{% extends 'shop/basic.html' %}

{% block title %} Contact Us | MaayaShop {% endblock %}

{% block body %}
<div class="container my-3">
  <h2>Contact Us Reggarding Any Queery</h2>
  <div class="col-md-6">
    <form action="/shop/contact/" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name">Enter Your Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Your Name ...">
      </div>
      <div class="mb-3">
        <label for="email">Enter Your Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter Your Email ...">
      </div>
      <div class="mb-3">
        <label for="phone">Phone Number ( With Country Code )</label>
        <input type="tel" name="phone" class="form-control" id="phone" placeholder="Enter Phone Number ...">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">How may be help you?</label>
        <textarea name="desc" class="form-control" id="desc" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}