{% extends 'shop/basic.html' %}

{% block title %} {{product.product_name}} | MaayaShop {% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{product.product_image}}" height="auto" width="350px">
            </div>
            <div class="row my-5">
                <button class="btn btn-primary mx-4">Buy Now</button>
                <button class="btn btn-primary mx-5">Add To Cart</button>
            </div>
        </div>
        <div class="col-md-8">
            <h2>{{product.product_name}}</h2>
            <p><b>Rs. </b>{{product.product_price}}</p>
            <p>{{product.product_desc}}</p>
        </div>
    </div>
</div>
{% endblock %}