{% extends 'shop/basic.html' %}

{% block title %} Track your items | MaayaShop {% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Enter your Order id and Email to track your order</h2>
        <form method="post" action="#" id="trackerForm">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="orderId">Order id</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.com">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Track Order</button>
        </form>
    </div>
    <div class="col my-5">
        <h2>Your Order Status</h2>
        <div class="mt-4">
            <ul class="list-group" id="items">
                Enter your correct order id and Email and click to submit button to find your order status !
            </ul>
        </div>

        <h2>Your Order Details</h2>
        <div class="mt-4">
            <ul class="list-group" id="citems">
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('#trackerForm').submit(function (event) {
        $('#items').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };

        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
            .done(function (data) {
                data = JSON.parse(data);
                updates = data[0];
                let sendData;
                if (updates.length > 0 & updates !== {}) {
                    for (let i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        sendData = `<li class="list-group-item d-flex justify-content-between align-items-center">
                                ${text}
                                <span class="badge badge-primary badge-pill">${time}</span>
                                </li>`
                        $('#items').append(sendData);
                    }
                } else {
                    sendData = `<li class="list-group-item d-flex justify-content-between align-items-center">
                             Your order id and Email has been not correct. Please enter correct email id and email.
                                </li>`
                    $('#items').append(sendData);
                }
                // fill in the order details
                cart = JSON.parse(data[1]);
                console.log(cart);
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${name}
                        <span class="badge badge-primary badge-pill">${qty}</span>
                    </li>`
                    $('#citems').append(mystr);
                }
            });
        event.preventDefault();
    });
</script>
{% endblock %}